    <!-- NEW DATE -->
    <% if (msg.date !== prevMsgDate ) { %> 
        <div class="row small d-flex justify-content-center">
            <%= msg.date %>
        </div>
    <%}%>

    <!-- MESSAGE ROW -->
    <div class="row">
        <!-- IF USER IS AUTHOR OF THE MSG -->
        <% if (user && msg.author._id.equals(user._id)) { %>

            <div class="d-flex justify-content-end">
                <div class="col-8 ps-2">

                    <div class="me-2 text-end" style="border-radius: 5px; border: 1px solid grey">
                        <div class="d-flex justify-content-between">
                            <div> <%= msg.text %> </div>

                            <% if (user.admin) { %>
                                <form method="POST" action="delete/<%= msg._id %>" class="d-flex">
                                    <button 
                                        type="submit" 
                                        class="btn btn-danger" 
                                        style="font-size: 12px; height: 24px; padding: 3px;"
                                    > DELETE </button>        
                                </form>
                            <% } %>

                        </div>                         
                    </div>

                    <div class="d-flex justify-content-start me-2 mb-2">
                        <div class="small">
                            <%= msg.time_formatted %>
                        </div>
                    </div>   

                </div>
            </div>

        <!-- IF USER IS NOT THE AUTHOR OF THE MSG -->
        <% } else { %> 
            <div class="col-2">
                <% if (msg.author._id !== prevAuthorId) { %>
                    <div class="px-2 me-2" style="border-radius:20%; border:2px solid red;">
                        <%= user? msg.author.firstName + " " + msg.author.lastName : "hidden author" %> :
                    </div>
                <% } %>
            </div>

            <div class="col-8 pe-2">
                <div class="me-2" style="border-radius: 5px; border: 1px solid grey">

                    <div class="d-flex justify-content-between">
                        <div> <%= msg.text %> </div>

                        <% if (user.admin) { %>
                            <form method="POST" action="delete/<%= msg._id %>" class="d-flex">
                                <button 
                                    type="submit" 
                                    class="btn btn-danger" 
                                    style="font-size: 12px; height: 24px; padding: 3px;"
                                > DELETE </button>
                            </form>
                        <% } %>

                    </div> 

                </div>
                <div class="d-flex justify-content-end me-2 mb-2">
                    <div class="small">
                        <%= user? msg.time_formatted : "hidden time"%>
                    </div>
                </div>   
            </div>

        <%}%>    
    </div>






