<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <!-- <h1><%= title %></h1> -->
    <!-- <h1> CLUB </h1> -->


    <div class="container mt-4">

            <div class="card mx-auto">

                <!-- CARD-HEADER -->
                <div class="card-header">
                    <h1> <% if (currentUser) { %>
                        <%= currentUser.firstName + " " + currentUser.lastName %>
                    <% } else { %>
                        <a href="/login" class="btn btn-primary">Log In</a>
                    <% } %>
                    </h1>
                </div>

                <!-- CARD-BODY - scrollable: overflow -->
                <div class="card-body p-4" style="height: 500px; overflow: auto;">

                    <% let prevAuthorId = "" %>
                    <% let prevMsgDate = "" %>

                    <% messages.forEach( msg => { %>

                        <!-- IF USER IS LOGGED OUT -->
                        <% if (!currentUser) { %>
                            <%- include('./partials/message_loggedOut', {msg: msg, prevAuthorId: prevAuthorId }); %>
                        <% } %>

                        <!-- IF USER IS A LOGGED IN (BUT NOT A MEMBER)-->          
                        <% if (currentUser && !currentUser.member) { %>   
                            <%- include('./partials/message_loggedIn', {msg: msg, prevAuthorId: prevAuthorId }); %>
                        <% } %>

                        <!-- IF USER IS LOGGED IN AND A MEMBER -->
                        <% if (currentUser && currentUser.member) { %>   
                            <%- include('./partials/message_loggedMember', {msg: msg, prevAuthorId: prevAuthorId, prevMsgDate: prevMsgDate }); %>
                        <%}%>    

                        <% prevAuthorId = msg.author._id %>
                        <% prevMsgDate = msg.date %>
                    <% }) %>

                </div>

                <!-- CARD-FOOTER -->
                <div class="card-footer">

                    <% if (currentUser) { %>
                        <form method="POST" action="/new-message">
                            <div class="input-group">
                                <input class="form-control" id="msg-text" type="text" name="text" placeholder="Write a message..."/>        
                                <button class="btn btn-primary" type="submit">Send</button> 
                            </div>
                        </form>
                    <% } %>

                </div>

            </div>

    </div>


    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>


