<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head'); %>
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>  
  



  <div class="container">

    <h1><%= title %></h1>

    <form method="POST" action="/secretcodes/admin">
      <div class="form-group mb-2">
        <label for="admin-code">Admin Code</label> 
        <input class="form-control" id="admin-code" type="password" name="newCode"/>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  
    <form method="POST" action="/secretcodes/member">      
      <div class="form-group mb-2">
        <label for="member-code">Member Code</label> 
        <input class="form-control" id="member-code" type="password" name="newCode"/>  
      </div>

      <button class="btn btn-primary" type="submit">Submit</button>

    </form>

  </div>





  <% if (errorsArray) { %>
    <ul>
    <% errorsArray.forEach( error => { %>
      <li> ERROR: <%= error.msg %> </li>
    <% }) %>
    </ul>
  <% } %>

  <footer>
    <%- include('./partials/footer'); %>
  </footer>

</body>

</html>
